firebase_admin==7.1.0
Flask==3.1.2
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.45
google-cloud-firestore==2.22.0
gunicorn==23.0.0
joblib==1.5.3
matplotlib==3.10.8
numpy==2.3.3
python-dateutil==2.9.0.post0
requests==2.32.5
sentence-transformers
flask-cors
